@model GreenDelight.Application.DTOs.ContactDtos.ContactDto
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>İletişime Geç</h2>
                        <p>Herhangi bir sorunla mı karşılaştın, hemen bizimle iletişime geçebilirsin.</p>
                        <form asp-controller="Contact" asp-action="SendMessage" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="Name" placeholder="İsim" required data-error="Lütfen isminizi giriniz.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="SurName" placeholder="Soy İsim" required data-error="Lütfen soy isminizi giriniz.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="Email" required data-error="Lütfen mail adresini giriniz.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="Subject" placeholder="Konu" required data-error="Lütfen konu başlığını giriniz.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="Message" id="message" placeholder="Mesajınız" rows="4" data-error="Bir mesaj giriniz." required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div style="color:darkgreen; margin-bottom: 1rem; text-align: center;">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Mesajı Gönder</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h2>İletişim Bilgileri</h2>
                        <p>Organik ürünlerimiz Türkiyenin bir çok bölgesinden toplanmaktadır. Asıl şubemiz Ankara'da yer almaktadır. Müdürlüğümüzle iletişime geçebilirsiniz. </p>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Adres: Ankara/Çankaya <br>Bahçelievler<br> 7.cadde </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Telefon: <a href="tel:+1-888705770">+90 504 526 25 36</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:greendelightinfo@gmail.com">greendelightinfo@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

