@model GreenDelight.Domain.Results.SuccessDataResult<List<GreenDelight.Application.DTOs.CategoryDtos.CategoryDetailDto>>

<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
    <div class="product-categori">
        <div class="search-product">
            <form action="#">
                <input class="form-control" placeholder="Burada ara..." type="text">
                <button type="submit"> <i class="fa fa-search"></i> </button>
            </form>
        </div>
        <div class="filter-sidebar-left">
            <div class="title-left">
                <h3>Kategoriler</h3>
            </div>
            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                
                @foreach(var item in Model.Data)
                {
                    <a href="@Url.Action("ProductListByCategory", "Product", new { categoryId = item.ID })" class="list-group-item list-group-item-action"> @item.Name <small class="text-muted"></small></a>

                }

               
            </div>
        </div>
        <div class="filter-price-left">
            <div class="title-left">
                <h3>Fiyat</h3>
            </div>
            <div class="price-box-slider">
                <div id="slider-range"></div>
                <p>
                    <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                    <button class="btn hvr-hover" type="submit">Filtreleme</button>
                </p>
            </div>
        </div>
    </div>
</div>

