<footer>
    <div class="footer-main">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>GreenDelight Hakkında</h4>
                        <p>Organik yaşamın kapılarını aralayın! Doğal ve katkısız ürünlerle sofralarınızı güzelleştirirken, sağlıklı ve taptaze lezzetlere kolayca ulaşabilirsiniz.</p>
                        <p>Toprağın bereketini evinize taşıyan bu platform, doğal ürünlere olan güveninizi yeniden kazandıracak. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Bilgiler</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-info-circle"></i> Hakkımızda</a></li>
                            <li><a href="#"><i class="fa fa-shopping-basket"></i> Pazar</a></li>
                            <li><a href="#"><i class="fa fa-users"></i> Takımımız</a></li>
                            <li><a href="#"><i class="fa fa-gavel"></i> Topluluk Politikası</a></li>
                            <li><a href="#"><i class="fa fa-industry"></i> Üretim Yerlerimiz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>İletişim</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Adres: 7.cadde <br>Bahçelievler / ANKARA<br> Posta Kodu: 94562 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Telefon Numarası: <a href="tel:+1-888705770">+90 504 526 25 36</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">greendelightinfo@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>