<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="~/freshshop/index.html"><img src="~/freshshop/images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="~/Home/Index/">Ana Sayfa</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Kategoriler</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/freshshop/shop.html">Sidebar Shop</a></li>
                            <li><a href="~/freshshop/shop-detail.html">Shop Detail</a></li>
                            <li><a href="~/freshshop/cart.html">Cart</a></li>
                            <li><a href="~/freshshop/checkout.html">Checkout</a></li>
                            <li><a href="~/freshshop/my-account.html">My Account</a></li>
                            <li><a href="~/freshshop/wishlist.html">Wishlist</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="~/Product/Index/">Organik Pazar</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Contact/SendMessage">İletişim</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
                            <p>Sepetim</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>

    </nav>
</header>