<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="right-phone-box">
                    <p> <a href="#"> </a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="~/Account/Index"><i class="fa fa-user s_color"></i> @ViewBag.UserName</a></li>
                        <li><a href="/Auth/LogOut"><i class="fa fa-sign-out-alt s_color"></i> Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                        <option>Register Here</option>
                        <option>Sign In</option>
                    </select>
                </div>
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> Organik Ürünler Pazarı
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Organik Meyvelerde 50% - 80% Varan İndirimler
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Zeytin Kategorisinde 10% İndirim!
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Organik beslen sağlığını koru.
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Sağlık için her şeye değer.
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Süt Ürünlerinde 40% - 60% Varan İndirimler
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

